<section>
    <h2>{{title}}</h2>

    <button (click)="log($event)" class="btn">Click Me</button>
    <p>Ullamco do proident officia culpa officia amet. Ad esse eiusmod irure velit labore consectetur pariatur excepteur. Fugiat eu deserunt quis non duis nostrud exercitation duis sint ex incididunt exercitation anim irure. Enim pariatur proident eu esse ipsum ut commodo est irure tempor consectetur. Et voluptate ullamco in proident laborum do veniam incididunt commodo qui sunt mollit in. </p>
</section>